.ProfileInformation {
  position: relative;
}

.ProfileInformation__toggle-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 35px;
  padding-right: 20px;
  background-color: #dddddd;
  overflow: hidden;
  cursor: pointer;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25);
  background-color: rgba(0, 0, 0, 0.075);
  transition: background-color 0.25s ease-in-out 0s,
    border-top 0.25s ease-in-out 0s,
    max-height 0.25s ease-in-out 0s;
}
.ProfileInformation__toggle-button[data-information-visible="false"] {
  max-height: 35px;
  border-top: 1px solid rgba(0, 0, 0, 0.075);
  background-color: rgba(0, 0, 0, 0.075);
}
.ProfileInformation__toggle-button[data-information-visible="true"] {
  max-height: 0px;
  border-top: 0px solid rgba(0, 0, 0, 0);
  background-color: #eeeeee;
}

.ProfileInformation__toggle-button > .text {
  color: rgba(0, 0, 0, 0.35);
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 1px;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
  transition: opacity 0.25s ease-in-out 0s;
}
.ProfileInformation__toggle-button[data-information-visible="false"] > .text {
  opacity: 1.0;
}
.ProfileInformation__toggle-button[data-information-visible="true"] > .text {
  opacity: 0;
}

.ProfileInformation__title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 35px;
  padding: 0px 20px;
}
.ProfileInformation__title > .text {
  position: absolute;
  color: #999999;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  word-spacing: 2px;
  text-transform: uppercase;
  margin-left: 0px;
  transition: opacity 0.25s ease-in-out 0s,
    margin-left 0.25s ease-in-out 0s;
}
.ProfileInformation__title[data-editing="false"] > .text[data-type="default"],
.ProfileInformation__title[data-editing="true"] > .text[data-type="editing"] {
  opacity: 1.0;
  margin-left: 0px;
}
.ProfileInformation__title[data-editing="true"] > .text[data-type="default"],
.ProfileInformation__title[data-editing="false"] > .text[data-type="editing"] {
  opacity: 0;
  margin-left: 25px;
}

.ProfileInformationSections {
  position: relative;
  height: calc(100vh - 135px);
  box-shadow: inset 0px 10px 10px -12px rgba(0, 0, 0, 0.75),
    inset 0px 1px 3px 0px rgba(0, 0, 0, 0.025);
  overflow-x: hidden;
  overflow-y: auto;
  transition: opacity 0.25s ease-in-out 0s,
    max-height 0.25s ease-in-out 0s;
}
.ProfileInformationSections[data-visible="false"] {
  max-height: 0px;
  opacity: 0;
}
.ProfileInformationSections[data-visible="true"] {
  max-height: 1000px;
  opacity: 1.0;
}

.ProfileSection {
  padding: 10px 0px;
}
.ProfileSection:last-child {
  margin-bottom: 75px;
}
.ProfileSection:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.ProfileSection__title {
  color: rgb(33, 2, 172);
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 0.75px;
  text-shadow: 0px 0px 0.01px rgba(33, 2, 172, 1);
  padding: 20px 0px 10px 20px;
}

.ProfileSectionInfo {
  padding: 10px 0px;
}
.ProfileSectionInfo__label {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  padding: 0px 0px 0px 20px;
}


.ProfileSectionInfo__label .InlineInput {
  height: 32px;
  opacity: 1.0;
  transition: height 0.25s ease-in-out 0s,
    opacity 0.25s ease-in-out 0s;
}
.ProfileInformation[data-editing="false"] .ProfileSectionInfo__label .InlineInput[data-empty="true"] {
  height: 0px;
  opacity: 0;
}
.ProfileInformation[data-editing="false"] .ProfileSectionInfo__label .InlineInput[data-empty="false"] {
  height: 22px;
}
.ProfileSectionInfo__label input.InlineInput__input,
.ProfileSectionInfo__label .InlineInput__testInput {
  color: #2196f3;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
.ProfileInformation[data-editing="false"] .ProfileSectionInfo__label input.InlineInput__input:not([value=""]) {
  padding: 0px 0px 0px 0px;
}
.ProfileInformation[data-editing="true"] .ProfileSectionInfo__label input.InlineInput__input {
  padding: 5px 10px 5px 10px;
}
.ProfileInformation[data-editing="true"] .ProfileSectionInfo__label input.InlineInput__input:focus {
  color: #000000;
}




.ProfileSectionInfo__content {
  padding: 5px 0px;
}

.ProfileSectionInfo__row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding: 0px 20px 0px 7px;
  margin-left: 23px;
  box-shadow: -3px 0px 0px 0px rgba(0, 0, 0, 0.075);
  overflow: hidden;
  transition: opacity 0.25s ease-in-out 0s,
    max-height 0.25s ease-in-out 0s;
}
.ProfileSectionInfo__row > span.comma {
  position: relative;
  width: 0px;
  transition: margin 0.25s ease-in-out 0s,
    opacity 0.25s ease-in-out 0s;
}
.ProfileInformation[data-editing="true"] .ProfileSectionInfo__row > span.comma {
  margin: 0px 10px 0px -10px;
  opacity: 0.75;
}
.ProfileInformation[data-editing="false"] .ProfileSectionInfo__row > span.comma {
  margin: 0px 5px 0px -6px;
  opacity: 0.5;
}

.ProfileSectionInfo__row > span.hyphen {
  position: relative;
  width: 0px;
  margin: 0px 2px 0px -2px;
  transition: opacity 0.25s ease-in-out 0s;
}

.ProfileInformation[data-editing="true"] .ProfileSectionInfo__row > span.hyphen {
  opacity: 0.75;
}
.ProfileInformation[data-editing="false"] .ProfileSectionInfo__row > span.hyphen {
  opacity: 0.5;
}