.InlineInput {
  max-height: 100px;
  opacity: 1.0;
  overflow: hidden;
  transition: opacity 0.25s ease-in-out 0s,
    max-height 0.25s ease-in-out 0s;
}
[data-single-input="true"] > .InlineInput[data-readonly="false"][data-empty="true"] {
  max-height: 100px;
  opacity: 1.0;
}
[data-single-input="true"] > .InlineInput[data-readonly="true"][data-empty="true"] {
  max-height: 0px;
  opacity: 0;
}

input.InlineInput__input {
  border: 0px;
  border-radius: 3px;
  box-shadow: 0px 0px 0px 0px #000;
  outline: 0px;
  padding: 5px 10px 5px 10px;
  background-color: transparent;
  transition: padding 0.25s ease-in-out 0s;
}
input.InlineInput__input,
.InlineInput__testInput {
  color: #000;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 0.75px;
  line-height: 22px;
  text-shadow: 0px 0px 0.01px rgba(0, 0, 0, 0.75);
}
input.InlineInput__input[value=""] {
  opacity: 0.75;
}
input.InlineInput__input[value=""],
input.InlineInput__input:not([readonly]):focus {
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.075);
}
input.InlineInput__input[readonly] {
  padding: 2.5px 10px 2.5px 10px;
}

.InlineInput__testInput {
  position: absolute;
  display: block;
  height: 0px;
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
}
