.ProfileEditActions {
  position: relative;
  height: 75px;
  background-color: rgba(0, 0, 0, 0.05);
}
.ProfileEditActions__button-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.ProfileEditActions__button-group[data-type="save-discard"] {
  visibility: visible;
  opacity: 1.0;
}
.ProfileEditActions__button-group[data-type="edit"] {
  visibility: hidden;
  opacity: 0;
}

.ProfileEditActions__button {
  display: flex;
  align-items: center;
  height: 35px;
  color: #000;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
  padding: 0px 20px;
  margin-right: 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.25s ease-in-out 0s;
}
.ProfileEditActions__button:last-child {
  margin-right: 25px;
}
.ProfileEditActions__button[data-type="edit"] {
  color: blue;
}
.ProfileEditActions__button[data-type="save"] {
  color: #fff;
  background-color: rgb(76, 175, 80);
}
.ProfileEditActions__button[data-type="save"]:hover {
  background-color: rgb(46, 125, 50);
}
.ProfileEditActions__button[data-type="discard"] {
  color: rgb(255, 87, 34);
}
.ProfileEditActions__button[data-type="discard"]:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0.05);
}

.ProfileEditActions__button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
