.Input {
  padding: 2.5px 5px;
}
.Input__area {
  position: relative;
  cursor: text;
}

.Input__label {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
  opacity: 1.0;
  z-index: 2;
  cursor: text;
  transition: color 0.25s ease-in-out 0s,
    font 0.25s ease-in-out 0s,
    opacity 0.25s ease-in-out 0s,
    margin 0.25s ease-in-out 0s;
}
.Input[data-focused="false"] .Input__label,
.Input[data-filled="false"] .Input__label {
  color: #000;
  font-size: 16px;
  font-weight: 300;
  margin-top: 17px;
  margin-left: 15px;
}
.Input[data-focused="true"] .Input__label,
.Input[data-filled="true"] .Input__label {
  color: rgba(13, 99, 228, 1.0);
  font-size: 12px;
  font-weight: 400;
  margin-top: 7px;
  margin-left: 7px;
}

.Input[data-input-type="radio"] .Input__label,
.Input[data-input-type="checkbox"] .Input__label {
  cursor: pointer;
}

.Input__layer-box {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  transition: background 0.25s ease-in-out 0s,
    box-shadow 0.25s ease-in-out 0s;
}
.Input[data-focused="false"] .Input__layer-box {
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15),
    inset 0px 0px 0px 2px rgba(255, 255, 255, 0.75),
    inset 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.05);
}
.Input[data-focused="true"] .Input__layer-box {
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
    inset 0px 0px 0px 0px rgba(0, 0, 0, 0.05),
    inset 0px 0px 0px 1px rgba(13, 99, 228, 1.0),
    inset 0px 0px 0px 3px rgba(13, 99, 228, 0.6),
    0px 0px 50px -10px rgba(0, 0, 0, 0.25),
    0px 5px 2px -3px rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.Input__input-container {
  padding: 0px 0px 0px 0px;
}
.Input[data-input-type="textarea"] .Input__input-container {
  padding: 25px 3px 0px 0px;
}

input.Input__input-field[type="text"],
input.Input__input-field[type="number"],
input.Input__input-field[type="email"],
input.Input__input-field[type="tel"],
input.Input__input-field[type="search"],
input.Input__input-field[type="password"],
input.Input__input-field[type="date"],
textarea.Input__input-field {
  position: relative;
  top: 0px;
  width: 100%;
  width: calc(100% - 20px);
  min-height: 21px;
  color: #000;
  padding: 16px 10px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
  outline: 0px;
  border: 0px;
  background-color: transparent;
  z-index: 1;
}
input.Input__input-field[type="password"] {
  letter-spacing: 5px;
}

textarea.Input__input-field {
  min-height: 50px;
  max-height: 125px;
  padding: 0px 7px 7px 7px;
  resize: vertical;
}

.Input[data-hasLabel="true"] input.Input__input-field[type="text"],
.Input[data-hasLabel="true"] input.Input__input-field[type="number"],
.Input[data-hasLabel="true"] input.Input__input-field[type="email"],
.Input[data-hasLabel="true"] input.Input__input-field[type="tel"],
.Input[data-hasLabel="true"] input.Input__input-field[type="search"],
.Input[data-hasLabel="true"] input.Input__input-field[type="password"],
.Input[data-hasLabel="true"] input.Input__input-field[type="date"],
.Input[data-hasLabel="true"] textarea.Input__input-field {
  width: calc(100% - 14px);
  padding: 25px 7px 7px 7px;
}


.Input[data-input-type="select"] input.Input__input-field[type="text"]:hover {
  background-color: rgba(0, 0, 0, 0.01);
}
.Input[data-input-type="select"] input.Input__input-field[type="text"]:active {
  background-color: rgba(0, 0, 0, 0.02);
}

.Input[data-input-type="select"] .Input__area,
.Input[data-input-type="select"] .Input__area * {
  cursor: pointer;
}



.Input input:-webkit-autofill {
  -webkit-box-shadow: inset 0px 0px 0px 30px rgba(255, 255, 255, 0) !important;
  -webkit-background-color: rgba(255, 255, 255, 0) !important;
}