.ProfileAddress {

}
.ProfileAddressItem {
  padding: 10px 0px 25px 0px;
}
.ProfileAddress__title {
  color: #000;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 0px 0px 0px 20px;
}
.ProfileAddressItem__row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 20px;
}
.ProfileAddressItem__row > span.comma {
  position: relative;
  margin: 0px 10px 0px -10px;
}
.ProfileAddressItem__row > span.hyphen {
  margin: 0px -2.5px;
}
