.ProfileEmail {

}
.ProfileEmailItem {
  padding: 10px 0px 25px 0px;
}
.ProfileEmail__title {
  color: #777777;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 0px 0px 0px 20px;
}
.ProfileEmailItem__row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 20px 0px 7px;
  margin-left: 23px;
  box-shadow: -3px 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.ProfileEmailItem__row > span.comma {
  position: relative;
  width: 0px;
  margin: 0px 10px 0px -10px;
  opacity: 0.5;
}
.ProfileEmailItem__row > span.hyphen {
  margin: 0px -2.5px;
  opacity: 0.5;
}
