.DateInput {
  background-color: #fff;
}
.DateInput__dates {
  display: flex;
  flex-wrap: wrap;
}
.DateInput__dates-item {
  flex-basis: calc((100% / 7) - 2px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-shadow: 0px 0px 0.25px #000;
  border-radius: 3px;
  height: 35px;
  margin: 1px;
  cursor: pointer;
}
.DateInput__dates-item[data-date-type="current"] {
  background-color: rgba(0, 0, 0, 0.075);
}
.DateInput__dates-item[data-date-type="current"]:hover {
  color: #fff;
  text-shadow: 0px 0px 0.25px #fff;
  background-color: blue;
}

.DateInput__dates-item:not([data-date-type="current"]) {
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 0px 0px 0.25px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.035);
}
