.Profile {
  position: relative;
  z-index: 1;
  transition: margin-top 0.25s ease 0s;
}
.Profile__content {
  max-width: 640px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
    0px 5px 5px -1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 0px auto;
  overflow: hidden;
}

.Profile__summary {
  background-color: #eeeeee;
}
.Profile__text {
  font-family: 'Roboto', sans-serif;
  padding: 14px 20px;
}
.Profile__display-name {
  color: #222;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.Profile__other-name {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.25px;
  margin-top: 5px;
  opacity: 0.75;
}

.Profile__actions {
  position: relative;
  height: 49px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.Profile__actions-layer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: visibility 0.15s ease-in-out 0s,
    opacity 0.15s ease-in-out 0s;
}
.Profile__actions-layer[data-visible="false"] {
  visibility: hidden;
  opacity: 0;
}
.Profile__actions-layer[data-visible="true"] {
  visibility: visible;
  opacity: 1.0;
}
.Profile__actions-layer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 49px;
}
.Profile__actions-layer:not([data-when="default"]) > .Profile__actions-layer__content {
  justify-content: flex-end;
}



















.Profile__quick-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-basis: calc(100% - 100px);
}

.Profile__quick-link {
  display: flex;
  justify-content: center;
  align-items: center;  
  position: relative;
  height: 49px;
  box-shadow: inset 0px -25px 0px 0px rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: box-shadow 0.15s ease-in-out 0s;
}
.Profile__quick-link:active {
  box-shadow: inset 0px -20px 100px -20px rgba(0, 0, 0, 0.25);
}
.Profile__quick-link > .holder {
  display: flex;
  justify-content: center;
  align-items: center;  
  position: relative;
  padding: 5px 20px;
}
.Profile__quick-link:not(:last-child) > .holder{
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.Profile__quick-link > .holder > .icon {
  width: 17px;
  height: 17px;
  margin-right: 7px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.65;
  transition: opacity 0.15s ease-in-out 0s;
}

.Profile__quick-link[data-type="call"] > .holder > .icon {
  background-image: url('./images/call-icon.png');
}
.Profile__quick-link[data-type="sms"] > .holder > .icon {
  background-image: url('./images/sms-icon.png');
}
.Profile__quick-link[data-type="email"] > .holder > .icon {
  background-image: url('./images/email-icon.png');
}
.Profile__quick-link[data-type="map"] > .holder > .icon {
  background-image: url('./images/map-icon.png');
}

.Profile__quick-link > .holder > .text {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-shadow: 0px 0px 0.1px rgba(0, 0, 0, 0);
  opacity: 0.5;
  transition: opacity 0.15s ease-in-out 0s,
    text-shadow 0.15s ease-in-out 0s;
}
.Profile__quick-link:active > .holder > .icon,
.Profile__quick-link:active > .holder > .text {
  opacity: 1.0;
  text-shadow: 0px 0px 0.05px rgba(0, 0, 0, 0.5);
}

.Profile__quick-button {
  display: flex;
  align-items: center;
  height: 35px;
  color: #000;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
  padding: 0px 20px;
  margin-right: 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.25s ease-in-out 0s,
    color 0.25s ease-in-out 0s;
}
.Profile__quick-button:first-child {
  margin-left: 20px;
}
.Profile__quick-button:last-child {
  margin-right: 20px;
}

.Profile__quick-button[data-type="edit"] {
  color: blue;
}

.Profile__quick-button[data-type="save"] {
  color: #fff;
  background-color: rgb(76, 175, 80);
}
.Profile__quick-button[data-type="save"]:hover {
  background-color: rgb(46, 125, 50);
}

.Profile__quick-button[data-type="discard"] {
  color: rgb(255, 87, 34);
}
.Profile__quick-button[data-type="discard"]:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0.05);
}

.Profile__quick-button[data-visible="false"] {
  visibility: hidden;
  opacity: 0;
}
.Profile__quick-button[data-visible="true"] {
  visibility: visible;
  opacity: 1.0;
}



@media only screen and (max-width: 640px) {
  .Profile__content {
    min-height: 0px;
  }
  .Profile__summary {
    flex-direction: column;
  }
  .Profile__thumb {
    height: 200px;
  }
}
