.unselectable::selection {
	color: #000;
	text-shadow: 0px 0px 0px #ddd;
	background: rgba(255, 255, 255, 0);
}
.unselectable::-moz-selection {
	color: #000;
	text-shadow: 0px 0px 0px #ddd;
	background: rgba(255, 255, 255, 0);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

.InputGroup {
	padding: 5px 0px;
}
.InputGroup:not(:first-child) {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
