.unselectable {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
}
.unselectable::selection {
	color: #000 !important;
	text-shadow: 0px 0px 0px #ddd !important;
	background: rgba(255, 255, 255, 0) !important;
}
.unselectable::-moz-selection {
	color: #000 !important;
	text-shadow: 0px 0px 0px #ddd !important;
	background: rgba(255, 255, 255, 0) !important;
}

body {
  margin: 0;
	padding: 0;
	height: 1000px;
	font-family: sans-serif;
  overflow-x: hidden;
}

.InputGroup {
	padding: 5px 0px;
}
.InputGroup:not(:first-child) {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
