.PeopleCard {
  position: relative;
  padding: 10px;
}
.PeopleCard__content-holder {
  max-width: 640px;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
    0px 0px 0px 2px rgba(255, 255, 255, 0.75),
    0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 0px auto;
  overflow: hidden;
}
.PeopleCard__summary {
  display: flex;
  justify-content: flex-start;
}

.PeopleCard__thumb {
  display: none;
  position: relative;
  flex-basis: 65%;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.PeopleCard__thumb > .photo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/8/8a/Santhosh_George_Kulangara.jpg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.PeopleCard__thumb > .photo.photo--blur {
  top: -100%;
  left: -100%;
  width: 300%;
  height: 300%;
  filter: blur(10px) brightness(0.65) grayscale(0.75);
}

.PeopleCard__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 100%;
  min-width: calc(100% - 265px);
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1a000000',GradientType=0 );
}

.PeopleCard__text {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}
.PeopleCard__display-name {
  color: #0d47a1;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.PeopleCard__other-name {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.25px;
  margin-top: 5px;
  opacity: 0.75;
}

.PeopleCard__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.PeopleCard__quick-links {
  display: flex;
  align-items: center;
  flex-basis: calc(100% - 60px);
  min-height: 60px;
}
.PeopleCard__quick-link {
  flex-basis: 75px;
  height: 40px;
  background-size: auto 60%;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.75;
  cursor: pointer;
}
.PeopleCard__quick-link:not(:first-child) {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.PeopleCard__quick-link:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.PeopleCard__quick-link--call {
  background-image: url('./images/call-icon.png');
}
.PeopleCard__quick-link--sms {
  background-image: url('./images/sms-icon.png');
}
.PeopleCard__quick-link--email {
  background-image: url('./images/email-icon.png');
}
.PeopleCard__quick-link--map {
  background-image: url('./images/map-icon.png');
}

.PeopleCard__actions__more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-basis: 60px;
  height: 60px;
  border-radius: 5px 0px 0px 0px;
  background-color: transparent;
  cursor: pointer;
  transition: background 0.25s ease-in-out 0s;
}
.PeopleCard[data-factsheetvisible="true"] .PeopleCard__actions__more-button {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.PeopleCard__actions__more-button__icon {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 0px;
  background-image: url('./images/more-icon.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotate(0deg) scale(1.0);
  opacity: 0.25;
  transition: border-radius 0.25s ease-in-out 0s,
    transform 0.25s ease-in-out 0s,
    opacity 0.5s ease-in-out 0s;
}
.PeopleCard[data-factsheetvisible="true"] .PeopleCard__actions__more-button__icon {
  border-radius: 50%;
  opacity: 0.25;
  transform: rotate(45deg) scale(1);
}


.PeopleCard__more-button {
  display: flex;
  display: none;
  justify-content: flex-start;
  align-items: center;
  min-width: 125px;
  height: 35px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 0.25px;
  margin-top: 0px;
  padding-left: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.075);
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background 0.25s ease-in-out 0s;
}
.PeopleCard[data-factsheetvisible="true"] .PeopleCard__more-button {
  justify-content: flex-end;
  padding-right: 20px;
  background-color: #f0f0f0;
}

.PeopleCard__factSheet {
  position: relative;
  background-color: #fff;
  overflow: hidden;
}
.PeopleCard__factSheet,
.PeopleCard__factSheet[data-visible="false"] {
  max-height: 0px;
  opacity: 0;
  transition: opacity 0.25s ease-in-out 0s,
    max-height 0.25s ease-in-out 0s;
}
.PeopleCard__factSheet[data-visible="true"] {
  max-height: 1000px;
  opacity: 1.0;
  transition: opacity 0.25s ease-in-out 0s,
    max-height 0.25s ease-in-out 0s;
}



@media only screen and (max-width: 640px) {
  .PeopleCard__content {
    min-height: 0px;
  }
  .PeopleCard__summary {
    flex-direction: column;
  }
  .PeopleCard__thumb {
    height: 200px;
  }
}
